html, body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 60px;
    height: 54px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    gap: 16px;
}

.nav-links {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

#section-1 {
    background-color: #1f2937;
    color: white;
    margin-top: 70px;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    width: 500px;
    height: 200px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-div {
    width: 500px;
    height: 200px;
    background-color:rgba(61, 52, 52, 0.5);
}

.title {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.text {
    font-size: 18px;
    margin: 0;
}

button {
    width: 80px;
    height: 40px;
    border-radius: 10%;
}