html, body {
    font-family: 'Roboto', sans-serif;    
}


header {
    display: flex;
    background-color: #1f2937;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;
    padding: 8px 60px;
    height: 54px;
    margin: -8px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    gap: 16px;
}

.nav-links {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    font-weight: 100;
}

.section-one {
    margin: -8px;
    display: flex;
    background-color: #1f2937;
    color: white;
    height: 500px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.content {
    width: 440px;
    height: 260px;
}

.img {
    width: 440px;
    height: 260px;
}

.title {
    font-size: 48px;
    margin: 0;
    padding: 0;
    color: #f9faf8;
    font-weight: bold;
}

.text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
    font-weight: 100;
}

button {
    margin-top: 26px;
    background-color: #3882f6;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 6px 20px;
    border-radius: 10px;
    border-width: 0;
    cursor: pointer;
    width: 120px;
}

.section-two {
    margin: -8px;
    height: 500px;
}

.random-header {
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

.images {
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    gap: 90px;
}

.img-text {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin-top: 30px;
}

.img-container {
    border: 2px solid #3882f6;
    border-radius: 10px;
    width: 160px;
    height: 160px;
}

.subtext {
    font-weight: 100;
    font-size: 18px;
    color: #555;
}