html, body {
    font-family: 'Roboto', sans-serif;    
}


header {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 8px 60px;
    height: 54px;
    margin: -8px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-list {
    display: flex;
    gap: 16px;
}

.nav-links {
    text-decoration: none;
    list-style-type: none;
    color: inherit;
}

.section-one {
    margin: -8px;
    display: flex;
    background-color: #1f2937;
    color: white;
    height: 500px;
    justify-content: center;
    align-items: center;
    flex-shrink: 2;
}

.content {
    width: 400px;
    height: 260px;
}

.ball-img {
    width: 400px;
    height: 260px;
}